*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(170, 165, 165);
    padding: 1rem;
    cursor: pointer;
    
}
.heading{
    position: relative;
    right: 10px;
}
.first-row{
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid rgb(170, 165, 165);
}
.yellow-line{
    height: 15%;
    width: 63%;
    background-color: rgb(170, 165, 165);
    position: absolute;
    top: 33px;
    left: 20px;
}
.circle1{
    border: 0px solid;
    background-color: rgb(170, 165, 165);
    height: 50px;
    width: 50px;
    border-radius: 100rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.circle2{
    border: 0px solid;
background-color: rgb(170, 165, 165);
height: 50px;
width: 50px;
border-radius: 100rem;
align-items: center;
    justify-content: center;
    display: flex;
}
.circle3{
    border: 0px solid;
    height: 50px;
    width: 50px;
    border-radius: 100rem;
    background-color: rgb(170, 165, 165);
    align-items: center;
    justify-content: center;
    display: flex;
}
.circle3-ellipsis-svg svg{
    width: 15px; 
    height: 15px;
}
.yellow-circle{
    border: 1px solid rgb(255, 194, 81);
    border-radius: 100rem;
    width: 35px;
    height: 35px ;
    background-color: orange;
    box-shadow: 0 0 10px rgb(255, 194, 81) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.inner-yellow-circle{
    border-radius: 100rem;
    border: 2px solid rgba(255, 255, 0, 0.856);
    width: 25px;
    height: 25px ;
    display: flex;
    justify-content: center;
    align-items: end;
    fill: white;
}
.yellow-svg svg{
    width: 15px; 
    height: 15px;
}
.yellow-circle-pending{
    border-radius: 100rem;
    border: 2px solid orange;
    width: 25px;
    height: 25px ;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    fill: orange;
   right: 70px;
   bottom: 27px;
}
.pending{
    cursor: pointer;
    color: orange;
}
.second-row{
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid rgb(170, 165, 165);
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.blue-line{
    height: 15%;
    width: 63%;
    background-color: rgb(170, 165, 165);
    position: absolute;
    top: 33px;
    left: 20px;
}
.blue-circle{
border-radius: 100rem;
background-color: rgb(67, 67, 219);
width: 37px;
height: 37px ;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}
.running{
    cursor: pointer;
    color: rgb(67, 67, 219);
}
.running-rotate-svg svg{
    width: 20px; 
    height: 20px;
    position: absolute;
    right: 73px;
    bottom: 30px;
    fill: rgb(67, 67, 219);
}
.blue-svg svg{
    width: 20px;
    height: 20px;
    fill: white;
}
.third-row{
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid rgb(170, 165, 165);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.green-line{
    height: 15%;
    width: 63%;
    background-color: rgb(170, 165, 165);
    position: absolute;
    top: 33px;
    left: 20px;
}
.green-circle{
    border-radius: 100rem;
    background-color: green;
    width: 35px;
    height: 35px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
 }
 
.passed{
    color: green;
    cursor: pointer;
}
.passed-svg svg{
    width: 20px; 
    height: 20px;
    position: absolute;
    right: 73px;
    bottom: 30px;
    fill: rgb(67, 67, 219);
}
.forth-row{
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid rgb(170, 165, 165);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.red-line{
    height: 15%;
    width: 63%;
    background-color: rgb(170, 165, 165);
    position: absolute;
    top: 33px;
    left: 20px;
}
.red-circle{
border-radius: 100rem;
background-color: red;
width: 37px;
height: 37px ;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}

.line-green .circle3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.green-svg svg{
    width: 20px; 
    height: 20px;
    fill: white;
}
.passed-svg svg{
    width: 15px; 
    height: 15px;   
}
.line-red{
    display: flex;
    align-items: center;
    height: 0.8rem;
    width: 65%;
    background-color: rgb(170, 165, 165);
    justify-content: space-between;
    position: relative;
}
.red-svg svg{
    width: 20px;
    height: 20px;
    fill: white;
}
.failed{
    color: red;
    cursor: pointer;
}
.failed-svg svg{
    width: 20px; 
    height: 20px;
    position: absolute;
    right: 73px;
    bottom: 30px;
    fill: rgb(67, 67, 219);
}
