*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(170, 165, 165);
    padding: 1rem;
    cursor: pointer;
    
}
.heading{
    position: relative;
    right: 10px;
}
.first-row{
    padding: 2rem;
    border-bottom: 1px solid rgb(170, 165, 165);
}
.second-row{
    padding: 2rem;
    border-bottom: 1px solid rgb(170, 165, 165);
}
.third-row{
    padding: 2rem;
    border-bottom: 1px solid rgb(170, 165, 165);
}
.fourth-row{
    padding: 2rem;
    border-bottom: 1px solid rgb(170, 165, 165);
}
.fifth-row{
    padding: 2rem;
    border-bottom: 1px solid rgb(170, 165, 165);
}
.sixth-row{
    padding: 2rem;
    border-bottom: 1px solid rgb(170, 165, 165);
}
.line-yellow{
    display: flex;
    align-items: center;
    height: 0.8rem;
    width: 65%;
    background-color: rgb(170, 165, 165);
    justify-content: space-between;
    position: relative;
}
.circle1{
    border: 0px solid;
    background-color: rgb(170, 165, 165);
    height: 50px;
    width: 50px;
    border-radius: 100rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    left: -1px;
}
.yellow-circle{
    border: 1px solid rgb(255, 194, 81);
    border-radius: 100rem;
    width: 35px;
    height: 35px ;
    background-color: orange;
    box-shadow: 0 0 10px rgb(255, 194, 81) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-yellow-circle{
    border-radius: 100rem;
    border: 2px solid rgba(255, 255, 0, 0.856);
    width: 25px;
    height: 25px ;
    display: flex;
    justify-content: center;
    align-items: end;
    fill: white;
}
.yellow-svg svg{
    width: 15px; 
    height: 15px;
}
.circle2{
    border: 0px solid;
background-color: rgb(170, 165, 165);
height: 50px;
width: 50px;
border-radius: 100rem;
position: absolute;
left: 49%;
}

.circle3{
    border: 0px solid;
    height: 50px;
    width: 50px;
    border-radius: 100rem;
    background-color: rgb(170, 165, 165);
    position: absolute;
    left: 97%;
}
.circle3-ellipsis-svg svg{
    width: 15px; 
    height: 15px;
}
.pending{
    position: absolute;
    left: 148%;
    cursor: pointer;
    color: orange;
}
.yellow-circle-pending{
    border-radius: 100rem;
    border: 2px solid orange;
    width: 25px;
    height: 25px ;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    fill: orange;
   right: 55px;
   top: 0;
}
.line-blue{
    display: flex;
    align-items: center;
    height: 0.8rem;
    width: 65%;
    background-color: rgb(170, 165, 165);
    justify-content: space-between;
    position: relative;
}
.blue-circle{
border-radius: 100rem;
background-color: rgb(67, 67, 219);
width: 35px;
height: 35px ;
display: flex;
justify-content: center;
align-items: center;
}
.circle-blue-svg svg{
    fill: white;
    width: 20px;
     height: 20px
}
.running{
    position: absolute;
    left: 148%;
    cursor: pointer;
    color: rgb(67, 67, 219);
}
.blue-svg{
    position: absolute;
    top: 0;
    right: 56px;
    fill: rgb(67, 67, 219);
}
.circle3-blue-svg svg{
    width: 20px; 
    height: 20px
}

.line-green{
    display: flex;
    align-items: center;
    height: 0.8rem;
    width: 65%;
    background-color: rgb(170, 165, 165);
    justify-content: space-between;
    position: relative;
}   
.green-circle{
    border-radius: 100rem;
    background-color: green;
    width: 35px;
    height: 35px ;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.line-green .circle2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-green .circle3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.green-svg svg{
    width: 20px; 
    height: 20px
}
.passed{
    position: absolute;
    left: 148%;
    cursor: pointer;
    color: green;
}
.passed-circle-check svg{
    position: absolute;
    top: 0px;
    right: 45px;
    width: 15px; 
    height: 15px;
}
.passed-svg svg{
    width: 15px; 
    height: 15px;
    
}
.passed-svg{
    right: 45px;
        top: 0;
        position: absolute;
}
.line-red{
    display: flex;
    align-items: center;
    height: 0.8rem;
    width: 65%;
    background-color: rgb(170, 165, 165);
    justify-content: space-between;
    position: relative;
}
.red-circle1{
    border-radius: 100rem;
    background-color: red;
    width: 35px;
    height: 35px ;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.red-circle1 .circle-red-svg svg{
    fill: white;
    width: 20px; 
    height: 20px;
}
.red-svg svg{
    position: absolute;
    top: 0;
    right: 45px;
    width: 20px; 
    height: 20px
}
.failed{
    position: absolute;
    left: 148%;
    cursor: pointer;
    color: red;
}
.failed-svg svg{
    width: 20px; 
    height: 20px
}
.circle2-red{
    border-radius: 100rem;
    background-color: red;
    width: 35px;
    height: 35px ;   
}
.line-red .circle2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle2-red{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white;
}
.circle2-red-svg svg{
    width: 20px;
     height: 20px;
}